from .base import *

DATABASES['default'].update({
    'USER': 'smyt_user',  # db user
    'PASSWORD': 'smyt_pass',  # db user pass
    'HOST': '127.0.0.1',  # db host, default `localhost`
    'PORT': 3306  # db port
})